:root {
    --primary: #FFFFFF;
    --secondary: #F7F7F7;
    --accent-red: #ED6A5A;
    --text: #3F3F37;
    --accent-blue: #788BFF;
    --accent-green: #61C9A8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url('./Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.menu-sidebar {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--secondary);
}

.main-content {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--primary);
   
}

.active-list-title {
    font-size: 50px;
    font-weight: 500;
    color: var(--text);
}

.menu-header {
    font-size: 35px;
    padding-left: 68px;
    padding-top: 70px;
    font-weight: 500;
    color: var(--text);
}

.main-header-bar {
    display: flex;
    padding: 75px 0 75px 150px;
    flex-wrap: wrap;
    width: 900px;
}

.task-area {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: fit-content;
    margin-left: 150px;
}

.main-task-line {
    display: flex;
    gap: 8px;
    align-items: center;
}

.new-task-button {
    cursor: pointer;
    padding: 12px 0;
    color: var(--accent-blue);
    font-size: 30px;
    font-weight: 300;
    margin-left: 150px;
    user-select: none;
}

img {
    position: absolute;
    top: 0;
    padding-left: 60px;
    
}

.task-input-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 12px;
    height: 250px;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 12px;
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 400px;
}

.task-input-form > input, button, textarea {
    font-size: 16px;
    padding: 6px 10px;
    background-color: var(--primary);    
    border: none;
    border-radius: 4px;
    color: var(--text);
}

.task-input-form > input, textarea {
    margin-right: 8px;
    width: 782px;
    height: 20px;
}

.task-input-form > button {
    background-color: var(--accent-green);
    cursor: pointer;
    width: 50px;
    height: 30px;
}

#task-input-duedate {
    width: 130px;
}

select {
    width: 100px;
    height: 60px;
    border: none;
}

option {
    height: 60px;
}

.list-input-form {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 250px;
    background-color: var(--secondary);
    border-radius: 12px;
    position: absolute;
    
}

.list-name-input {
    width: 200px;
    height: 24px;
    font-size: 24px;
    padding: 6px 10px;
    background-color: var(--primary);    
    border: none;
    border-radius: 4px;
    color: var(--text);
}


.all-lists-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 260px;
    margin: 20px 0 0 70px;
    gap: 4px; 
    
}

.list-name-hover {
    cursor: pointer;
    width: fit-content;
}

.menu-list-names {
    font-size: 24px;
    font-weight: 300;
}

.plus-button {
    cursor: pointer;
    color: var(--accent-green);
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
    user-select: none;
}

.new-list-button {
    cursor: pointer;
    color: var(--accent-green);
    font-size: 25px;
    font-weight: 300;
    margin: 12px 0 0 70px;
    background-color: transparent;
    user-select: none;
}   

.task-element {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.priority-symbol {
    padding-top: 5px;
}

.task-title {
    font-size: 28px;
    font-weight: 300;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.task-detail-elipsis {
    font-size: 28px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
    color: rgba(63, 63, 55, 0.4);
    cursor: pointer;
    user-select: none;
}

.task-checkbox {
    width: 22px;
    height: 22px;
    border: var(--accent-blue) 2px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.task-checkbox:hover, .task-checkbox:focus {
    background-color: var(--accent-blue);
    box-shadow: inset 0 0 0 2px var(--primary);
    transform: scale(1.15);
}

.task-checkbox-toggle {
  background-color: var(--accent-blue);
  box-shadow: inset 0 0 0 2px var(--primary);
}

.checked-task-title {
    color: rgba(63, 63, 55, 0.4);
    text-decoration: line-through 1px;
}

.task-drop-down {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--secondary);
    width: 90%;
    padding: 8px 15px 8px 36px;
    height: fit-content;
    border-radius: 12px;
    gap: 3px;
}

.task-description-dropdown {
    font-weight: 400;
    font-size: 20px;
    color: var(--accent-blue);
}

.task-duedate-dropdown {
    color: var(--accent-blue);
    font-weight: 200;
}

.delete-task-button {
    font-weight: 200;
    color: var(--accent-red);
    cursor: pointer;
    transition: all ease 0.3s;
}

.delete-task-button:hover, .delete-task-button:focus {
    background-color: var(--accent-red);
    color: var(--primary);
    border-radius: 4px;
    padding: 1px;

}
